<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        {{>header}}
        <p>This site was created by Kishor Jami. It is using the data from <a href="http://mapbox.com" target="_blank">mapbox.com</a> and <a href="http://darksky.net" target="_blank">darksky.net</a> APIs.</p>
    </body>
</html>