<!DOCTYPE html>
<html lang="en">
    {{>head}}    
    <body>
        {{>header}}
        <h2>Use this form to get weather for a location.</h2>
        <form class="weather-form">
            <input placeholder="location" class="address" />
            <button class="search">Search</button>
        </form>
        <p class="error"></p>
        <p class="result"></p>
        <p class="location"></p>
        <script src="/js/app.js"></script>
    </body>
</html>